#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    tags: ["1", "2", "3", "4", "5"],
    layouts: [MainAndVertStack, CenterMainFluid, CenterMain, Monocle],
    layout_mode: Workspace,
    insert_behavior: Top,
    scratchpad: [
        (name: "terminal", value: "$TERMINAL", x: 0.085, y: 0.085, height: 0.85, width: 0.85),
        (name: "rechner", value: "$TERMINAL -e bash -c \'julia -q --history-file=no\'", x: 0.085, y: 0.085, height: 0.85, width: 0.85),
    ],
    window_rules: [
        (window_class: "droidcam", window_title: None, spawn_on_tag: None, spawn_floating: true),
        (window_class: "Gsimplecal", window_title: None, spawn_on_tag: None, spawn_floating: true),
        (window_class: "Arandr", window_title: None, spawn_on_tag: None, spawn_floating: true),
        (window_class: "Pavucontrol", window_title: None, spawn_on_tag: None, spawn_floating: true),
    ],
    disable_current_tag_swap: false,
    disable_tile_drag: true,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    keybind: [
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "a"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey", "Control"], key: "x"),
        (command: GotoTag, value: "0", modifier: ["modkey"], key: "0"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: MoveToTag, value: "0", modifier: ["modkey", "Shift"], key: "0"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
    ],
    state_path: None,
)
